.wp-block-republication-tracker-tool-republish-button {
	&__button {
		display: inline-block;
		cursor: pointer;
		text-decoration: none;
		border: none;
		font: inherit;
	}

	&__message {
		margin-bottom: 0.5em;
	}
}
