/**
 * Styles for the Creative Commons Sharing widget.
 *
 * .side-widget on passblue.com replaces standard wordpress .widget class
 */
.side-widget.creative_commons_sharing,
.widget.creative_commons_sharing {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

.side-widget.creative_commons_sharing p,
.widget.creative_commons_sharing p {
    margin-bottom: 1em;
}

.side-widget.creative_commons_sharing a.license,
.widget.creative_commons_sharing a.license {
    border-top: 3px double #ddd;
    border-bottom: 3px double #ddd;
    padding: 1em 0;
    min-width: 100%;
    display: block;
}

.side-widget.creative_commons_sharing button.creative-commons-button,
.widget.creative_commons_sharing button.creative-commons-button {
    width:100%;
    background-color: #5499db;
    border: 1px solid #2863a7;
    color: #fff;
    padding: 1em;
    font-size: 1.25em;
    margin: 0 0 1em 0;
    display: block;
    border-radius: .25em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #2863a7;
}

.side-widget.creative_commons_sharing button.creative-commons-button:hover,
.widget.creative_commons_sharing button.creative-commons-button:hover {
    background-color: #2863a7;
    text-decoration: none;
    cursor: pointer;
}

#creative-commons-share-modal {
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.75);
}

#creative-commons-share-modal-content {
    position: absolute;
    width: 90%;
    max-width: 800px;
    max-height: 90%;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2em;
    text-align: left;
    width:
}

#creative-commons-share-modal-content textarea {
    box-sizing: border-box;
    width: 100%;
    margin:.5em 0 2em 0;
}

#creative-commons-share-modal-content h2,
#creative-commons-share-modal-content .cc-license,
#creative-commons-share-modal-content .cc-policy {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}

#creative-commons-share-modal-content .cc-license,
#creative-commons-share-modal-content .cc-policy {
    margin-bottom: 2em;
}

#creative-commons-share-modal-content .cc-license img {
    margin-bottom: 1em;
}

#creative-commons-share-modal-content .article-info h1 {
    margin-bottom: 0;
}

.creative-commons-close {
    position: absolute;
    top: 0;
    right: .5em;
    font-family: sans-serif;
    text-transform: lowercase;
    font-size: 2em;
}

.creative-commons-close:hover {
    cursor:pointer;
    opacity:.8;
}
