.widget.creative_commons_sharing {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

.widget.creative_commons_sharing p {
    margin-bottom: 1em;
}

.widget.creative_commons_sharing a.license {
    border-top: 3px double #ddd;
    border-bottom: 3px double #ddd;
    padding: 1em 0;
    min-width: 100%;
    display: block;
}

.widget.creative_commons_sharing a.creative-commons-button {
    background-color: #5499db;
    border: 1px solid #2863a7;
    color: #fff;
    padding: 1em;
    font-size: 1.25em;
    margin: 0 0 1em 0;
    display: block;
    border-radius: .25em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #2863a7;
}

.widget.creative_commons_sharing a.creative-commons-button:hover {
    background-color: #2863a7;
    text-decoration: none;
    cursor: pointer;
}
